<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<div class="container" id="index-wrapper">
	<h3 id="lighter">Submission for <strong><span style="color: blue;font-weight: lighter;">OpenGenus</span></strong> Software Engineer Intern</h3><br>
	<form method="POST" action="/submit">
	 <div class="form-group">
	    <label for="exampleInputEmail1">Enter URL!</label>
	    <input type="text" name="URLvalue" class="form-control" placeholder="URL value please" required>
  	</div>
  	<button type="submit" class="btn btn-success">Get Info</button>
  </form>
</div>