<% include partials/header %>
<script type="text/javascript" src="/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<div class="container" id="index-wrapper">
	<h3 id="lighter">Submission for <strong><span style="color: blue;font-weight: lighter;">OpenGenus</span></strong> Software Engineer Intern</h3><br>
	<form method="POST" action="/submit">
	 <div class="form-group">
	    <label for="exampleInputEmail1">Enter URL!</label>
	    <input type="text" name="URLvalue" id="URLvalue" class="form-control" placeholder="URL value please" required>
  	</div>
  	<button type="submit" class="btn btn-success" id="submitBtn">Get Info</button>
  </form><br><br>
  <div class="alert alert-info" id="alertMessage" role="alert"></div>
</div>